@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.content {
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: white;

  @include make_flex(column, center, center);

  .back {
    top: 13%;
    left: 2%;
    position: fixed;
    border-radius: 3px;
    padding: 0.6% 1.3%;
    border: 0.5px solid $color-grayscale-3;
    background-color: $color-primary-6;
    z-index: 20;

    @include make_flex(column, center, center);

    &:hover {
      background-color: rgba(white, 0.6);
    }

    & > a {
      @include make_flex(column, center, center);
    }
  }

  .fixed {
    height: 80%;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    @include make_flex(column, center, center);
  }

  .scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    padding-bottom: 12%;
  }
}
