@import 'src/styles/mixins.scss';

.header {
  height: 100%;
  font-size: 30px;
  color: white;


  // text-align: center;

  @include make_flex(column, center, center);

  .list {
    height: 17%;
    width: 70%;
    text-align: left;
  }

  .bio {
    height: 60%;
    width: 70%;
    text-align: center;
  }
}
