@import 'src/styles/mixins.scss';

.landing-content-container {
  width: 80%;
  height: 100%;

  @include make_flex(column, center, center);
  align-content: center;

  .header {
    height: 20%;
    flex: 1;
    font-size: 30px;
    color: white;
  }

  .menu-options {
    flex: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .landing-item {
      margin-left: 25px;
      margin-right: 25px;
    }
  }


}
