@import 'src/styles/mixins.scss';

.landing-content-container {
  width: 80%;
  height: 100%;

  @include make_flex(column, center, center);
  align-content: center;

  .header {
    height: 25%;
    flex: 3;
    font-size: 30px;
    color: white;
    text-align: center;

    @include make_flex(column, center, center);
  }

  .buffer {
    flex: 1;
  }

  .menu-options {
    flex: 9;
    @include make_flex(row, space-around, flex-start);

    .menu-item {
      margin-left: 25px;
      margin-right: 25px;
    }
  }


}
