@import 'src/styles/mixins.scss';

.info {
  position: relative;
  @include make_flex(column, flex-start, center);

  .list {
    width: 75%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .bio {
    width: 75%;

    .contact {
      color: white;
    }
  }
}
