@import './styles/mixins.scss';

.app-container {
  background-color: rgba(#74b4be, 0.8);
  // background-color: rgba(#63abb6, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;

  @include make_flex(row, center, center);
}
