.app-container {
  background-color: rgba(#58A4B0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
