.container {
  @media screen and (min-width: 1400px) {
    .container {
      width: 1370px;
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      width: 1570px;
    }
  }
  @media screen and (min-width: 1900px) {
    .container {
      width: 1870px;
    }
  }
}
