html, body {
  height: 100%;
  width: 100%;
  margin: 0;

  overflow: hidden;
}

p, a, li {
  font-family: 'K2D', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

::selection {
background: none; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: none; /* Gecko Browsers */
}

::-webkit-scrollbar {
  display: none;
}
